<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imprimir PDF Horario</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="../node_modules/alertifyjs/build/css/alertify.css">
    <link rel="stylesheet" href="../node_modules/alertifyjs/build/css/themes/default.css">
</head>

<body>
  <section id="app">

    <table class="is-bordered is-fullwidth table is-hoverable" >

        <thead>
            <tr>
                <th><img src="../images/logoestado.png" width="100px" height="40px" alt=""></th>
                <th colspan="4">HORARIO DE GRUPO CORRESPONDIENTE AL SEMESTRE </th>
                <th><img src="../images/minilogo.jpg" width="40px" height="40px" alt=""></th>
            </tr>
            <tr>
                <th colspan="2">GRUPO:  {{info['GRUPO']}}</th>
                <th colspan="2">PERIODO: {{info['GEN']}}</th>
                <th colspan="2">AULA:</th>
            </tr>
            <tr>
                <th colspan="3">TURNO: {{info['TURNO']}}</th>
                <th colspan="3">ESPECIALIDAD:  {{info['ESP']}}</th>
            </tr>
            <tr>
                <th class="is-light">HORA</th>
                <th class="is-light">LUNES</th>
                <th class="is-light">MARTES</th>
                <th class="is-light">MIÉRCOLES</th>
                <th class="is-light">JUEVES</th>
                <th class="is-light">VIERNES</th>
            </tr>
        </thead>
        <tbody is="hour" v-for="(h,index) in dbHorario.horario"  v-bind:key="h.id" v-bind:horas="h" v-bind:hora="index">


        </tbody>
    </table>
    <h3 class="has-text-centered subtitle is-3">Salones</h3>
      <table class="table table is-fullwidth table is-hoverable">
          <thead>
              <tr>

                  <th>Horario</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miércoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
              </tr>
          </thead>
          <tbody is="grupo" v-for="(h,index)  in dbHorario.salones"   v-bind:key="h.id" v-bind:index="index" v-bind:horas="h">


          </tbody>
      </table>
      <h3 class="has-text-centered subtitle is-3">Relación</h3>
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="is-light">N.P.</th>
                <th class="is-light">ASIGNATURA</th>
                <th class="is-light">T</th>
                <th class="is-light">P</th>
                <th class="is-light">TOTAL</th>
                <th class="is-light">PROFESOR</th>
            </tr>
        </thead>
        <tbody is="relacion" v-for="h in dbHorario.relacion"  v-bind:key="h.id" v-bind:horas="h">


        </tbody>
    </table>
  </section>
    <div id="btns">
        <button class="button is-success" onclick="descargar()">Descargar PDF</button>
        <button class="button is-danger" onclick="regresar()">Regresar</button>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../js/pdfSchedule.js"></script>
</body>

</html>
