<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrase</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="../node_modules/alertifyjs/build/css/alertify.css">
    <link rel="stylesheet" href="../node_modules/alertifyjs/build/css/themes/default.css">
    <style>
        .accept-cancel {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
        }

    </style>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- navbar items, navbar burger... -->
            <a class="navbar-item" href="#">
                  <img src="../images/letras.jpg" alt="Bulma: a modern CSS framework based on Flexbox" >
                </a>
        </div>
        <div class="navbar-end">
            <!-- navbar items, navbar burger... -->

            <div class="navbar-item">
                <div class="field is-grouped" onclick="salir()">

                    <p class="control">
                        <a class="button is-danger" href="#">
                              <span class="icon">
                                <i class="fa fa-ban"></i>
                              </span>
                              <span>Regresar</span>
                            </a>
                    </p>
                </div>
            </div>
        </div>


    </nav>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Registrarse
                </h1>

            </div>
        </div>
    </section>

    <br>
    <section id="app">

        <div class="container">
          <a class="button is-primary" v-on:click="muestra=1">Datos personales</a>
          <a class="button is-primary" v-on:click="muestra=0">Disponibilidad</a>
          <br>
          <br>
          <section v-if="muestra">
            <div class="field">
                <label class="label">Nombre *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" v-model="prof.nombre" class="input" id="nombre" type="text" placeholder="Nombre del Profesor">
                </div>
                <p class="help is-danger" id="errorNombre" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Apellido Paterno *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" v-model="prof.apellidoP" id="apellidoP" type="text" placeholder="Apellido Paterno del Profesor">
                </div>
                <p class="help is-danger" id="errorAP" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Apellido Materno </label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" v-model="prof.apellidoM" id="apellidoM" type="text" placeholder="Apellido Materno del Profesor">
                </div>
            </div>
            <div class="field">
                <label class="label">Lugar de Nacimiento *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" id="lugarN" v-model="prof.lugarN" type="text" placeholder="Lugar de Nacimiento del Profesor">
                </div>
                <p class="help is-danger" id="errorLN" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Fecha de Nacimiento *</label>
                <div class="control">
                    <input class="input" v-model="prof.fechaN" id="fechaN" type="date" min="1900-01-01" max="2018-01-01">
                </div>
                <p class="help is-danger" id="errorNac" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
              <label class="label">Género *</label>
                <div class="control">
                    <select class="input" id="genero" v-model="prof.genero">
                       <option value="" selected disabled>Género del Profesor</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </div>
                <p class="help is-danger" id="errorGen" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Estado Civil *</label>
                <div class="control">
                    <select class="input" id="estadoC" v-model="prof.estadoC">
                       <option value="" selected disabled>Estado Civil del Profesor</option>
                        <option value="Soltero(a)">Soltero(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Viudo(a)">Viudo(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                    </select>
                </div>
                <p class="help is-danger" id="errorEC" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">CURP *</label>
                <div class="control">
                    <input class="input" id="curp" v-model="prof.curp" type="text" placeholder="CURP del Profesor">
                </div>
                <p class="help is-danger" id="errorCURP" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">RFC *</label>
                <div class="control">
                    <input class="input" id="rfc" type="text" v-model="prof.rfc" placeholder="RFC del Profesor">
                </div>
                <p class="help is-danger" id="errorRFC" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Colonia *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" v-model="prof.colonia" class="input" id="colonia" type="text" placeholder="Colonia donde vive el Profesor">
                </div>
                <p class="help is-danger" id="errorCol" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Calle *</label>
                <div class="control">
                    <input  class="input" id="calle" type="text" v-model="prof.calle" placeholder="Calle donde vive el Profesor">
                </div>
                <p class="help is-danger" id="errorCalle" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Número *</label>
                <div class="control">
                    <input  class="input" id="numeroC" type="text" v-model="prof.numeroC" placeholder="Número de Casa">
                </div>
                <p class="help is-danger" id="errorNC" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Código Postal *</label>
                <div class="control">
                    <input  class="input" id="codigoP" type="text" v-model="prof.codigoP" placeholder="Código Postal del Profesor">
                </div>
                <p class="help is-danger" id="errorCP" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Télefono 1 *</label>
                <div class="control">
                    <input onkeypress="return soloNum(event)" class="input" v-model="prof.telefonoCa" id="telefonoCa" type="text" placeholder="Télefono de Preferencia">
                </div>
                <p class="help is-danger" id="errorT1" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Télefono 2</label>
                <div class="control">
                    <input onkeypress="return soloNum(event)" class="input" id="telefonoCe" v-model="prof.telefonoCe" type="text" placeholder="Télefono Secundario">
                </div>
            </div>
            <div class="field">
                <label class="label">Número de Nómina *</label>
                <div class="control">
                    <input onkeypress="return soloNum(event)" class="input" id="numeroN" v-model="prof.numeroN"   placeholder="Número de Nómina del Profesor">
                </div>
                <p class="help is-danger" id="errorNN" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Fecha de Inicio Dentro del Plantel *</label>
                <div class="control">
                    <input class="input" id="fechaI" type="date" v.model="prof.fechaI" min="1900-01-01" max="2018-01-01">
                </div>
                <p class="help is-danger" id="errorFIDP" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Nombramiento *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" v-model="prof.nombramiento" id="nombramiento" type="text" placeholder="Nombramiento del Profesor">
                </div>
                <p class="help is-danger" id="errorNombra" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Estatus *</label>
                <div class="control">
                    <select class="input" id="status" v-model="prof.status">
                       <option value="" selected disabled>Estatus del Profesor</option>
                        <option value="ACTIVO">ACTIVO</option>
                        <option value="INACTIVO">INACTIVO</option>
                    </select>
                </div>
                <p class="help is-danger" id="errorSta" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Horas Base *</label>
                <div class="control">
                    <input onkeypress="return soloNum(event)" class="input" v-model="prof.horasB" id="horasB" type="number" min="1" placeholder="Horas Base del Profesor">
                </div>
                <p class="help is-danger" id="errorHB" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Horas Adicionales *</label>
                <div class="control">
                    <input class="input" id="horasA" type="number" min="1" v-model="prof.horasA" placeholder="Horas Adicionales del Profesor">
                </div>
                <p class="help is-danger" id="errorHA" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Licenciatura *</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" id="licenciatura" v-model="prof.licenciatura" type="text" placeholder="Licenciatura del Profesor">
                </div>
                <p class="help is-danger" id="errorLic" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Cédula de Licenciatura *</label>
                <div class="control">
                    <input class="input" id="cedulaL" type="text" v-model="prof.cedulaL" placeholder="Cédula de Licenciatura del Profesor">
                </div>
                <p class="help is-danger" id="errorCL" style="display: none;">Falta llenar este campo.</p>
            </div>
            <div class="field">
                <label class="label">Maestría</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" v-model="prof.maestria" id="maestria" type="text" placeholder="Maestría del Profesor">
                </div>
            </div>
            <div class="field">
                <label class="label">Cédula de Maestría</label>
                <div class="control">
                    <input class="input" id="cedulaM" type="text" v-model="prof.cedulaM" placeholder="Cédula de Maestría del Profesor">
                </div>
            </div>
            <div class="field">
                <label class="label">Doctorado</label>
                <div class="control">
                    <input onkeypress="return soloLetras(event)" class="input" v-model="prof.doctorado" id="doctorado" type="text" placeholder="Doctorado del Profesor">
                </div>
            </div>
            <div class="field">
                <label class="label">Cédula de Doctorado</label>
                <div class="control">
                    <input class="input" id="cedulaD" type="text" v-model="prof.cedulaD" placeholder="Cédula de Doctorado del Profesor">
                </div>
            </div>
            <div class="field">
                <label class="label">Correo *</label>
                <div class="control">
                    <input class="input" id="mail" type="email" v-model="prof.mail" placeholder="Correo del Profesor">
                </div>
                <p class="help is-danger" id="errorCorreo" style="display: none;">Falta llenar este campo.</p>
                <p class="help is-danger" id="errorCorreoRepetido" style="display: none">Este correo ya existe.</p>
            </div>
            <div class="field">
                <label class="label">Contraseña *</label>
                <div class="control">
                    <input class="input" id="pass" v-model="prof.pass" type="password" placeholder="Contraseña del Profesor">
                </div>
                <p class="help is-danger" id="errorPass" style="display: none;">Falta llenar este campo.</p>
            </div>


            <label>Mostrar Contraseña</label>

            <input id="mostrar" type="checkbox" onclick="mostrar()">
          </section>
          <section v-if="!muestra">
            <div class="field has-addons">
              <p class="control">
                <span class="select">
                  <select v-model="dia">
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miercoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>

                  </select>
                </span>
                <span class="select">
                  <select v-model="hini">
                    <option value="0">6</option>
                    <option value="1">7</option>
                    <option value="2">8</option>
                    <option value="3">9</option>
                    <option value="4">10</option>
                    <option value="5">11</option>
                    <option value="6">12</option>
                    <option value="7">13</option>
                    <option value="8">14</option>
                    <option value="9">15</option>
                    <option value="10">16</option>
                    <option value="11">17</option>
                    <option value="12">18</option>
                    <option value="13">19</option>
                    <option value="14">20</option>
                    <option value="15">21</option>
                    <option value="16">22</option>
                  </select>
                </span>

              </p>
              <span style="margin:0px 10px;"> - </span>
              <p class="control">
                <span class="select">
                  <select v-model="hfin">
                    <option value="0">6</option>
                    <option value="1">7</option>
                    <option value="2">8</option>
                    <option value="3">9</option>
                    <option value="4">10</option>
                    <option value="5">11</option>
                    <option value="6">12</option>
                    <option value="7">13</option>
                    <option value="8">14</option>
                    <option value="9">15</option>
                    <option value="10">16</option>
                    <option value="11">17</option>
                    <option value="12">18</option>
                    <option value="13">19</option>
                    <option value="14">20</option>
                    <option value="15">21</option>
                    <option value="16">22</option>
                  </select>
                </span>



                <span class="select">
                  <select v-model="disp">
                    <option value="0">Disponibilidad</option>
                    <option value="1">Bueno</option>
                    <option value="2">Regular</option>
                    <option value="3">Malo</option>
                  </select>
                </span>
              </p>
              <span style="margin:0px 5px;"></span>
              <p class="control">
                <a v-on:click="addHour()" class="button is-primary">
                  Añadir Hora
                </a>
              </p>
            </div>
            <table class="table table is-fullwidth table is-hoverable">
              <thead>
                <tr>
                  <td>hora</td>
                  <td>Lunes</td>
                  <td>Martes</td>
                  <td>Miercoles</td>
                  <td>Jueves</td>
                  <td>Viernes</td>

                </tr>
              </thead>
              <tbody is="horario" v-for="(h,index) in horas" v-bind:key="h.id" v-bind:horas="h" v-bind:hora="index">

              </tbody>
            </table>


          </section>




        </div>
        <div class="columns">
            <div class="accept-cancel column is-half is-offset-one-quarter ">
                <a class="button is-success" onclick="registrarUsuario()">Registrarse</a>
                <a class="button is-danger" href="#" onclick="salir()">Cancelar</a>
            </div>
        </div>

    </section>
    <script type="text/javascript">
        function mostrar() {
            var pass = document.getElementById("pass"),
                checkbox = document.getElementById("mostrar");

            if (checkbox.checked == true)
                pass.type = "text";
            else
                pass.type = "password";
        }

    </script>
      <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../js/signup.js"></script>
</body>

</html>
